body {
    margin: 0;
    text-align: center;
    font-family: 'Handjet', serif
}

h1 { 
    margin: 10px auto 0 auto;
    font-family: 'Preahvihear';
    font-size: 1.3rem;
    /* 100% is equal to 16px, so 90px is equal ~to 562% */
    line-height: 1;
}

#map {
    width: 100%;
    height: 100vh;
}

/* class selectors */

.top-container {
    background-color: #6e7faf;
    position: relative;
    padding-top: 1px;

}






